<!-- <h1>Code step by step</h1>
<app-login></app-login>
<app-signup></app-signup>

<button (click)="getclick('Nihal')">click me</button>
<br><br>
<button (click)="getevent('Hello')">get event</button>
<br><br>
<input type="text" name="" #box (keyup.enter)="getevent(box.value)">
<br><br>
<input type="text" name="" #box (keydown.enter)="getevent(box.value)">
<br><br>
<input type="text" name=""  (blur)="getevent('blur')">
<br><br>
<div (mouseover)="getevent('mouse over')" (mouseleave)="getevent('mouse leave')" bg-red>
    mouse events
</div>
<br><br>



<!-- property binding -->
<input type="text" [disabled]="disable" [value]="name">
<br><br>
<!-- interpolation -->
<input type="text" disabled={{disable}} value={{name}}>
<br><br>
<button (click)="enableBox()">Enable text box</button> -->


<!-- If condition -->
<h1 *ngIf="show else elseblock">
    Hello If 
</h1>

<!-- else condition -->
<ng-template #elseblock>
    <h1>Hello else</h1>
</ng-template>


<!-- If condition with string variable verification-->
<h1 *ngIf="ss=='yes' else elseblock">
   string check Hello If 
</h1>

<!-- else condition -->
<ng-template #elseblock>
    <h1>Hello else</h1>
</ng-template>

<!--  -->
<h1 *ngIf="ss=='yes'; then ifBlock else elseblock"></h1>

<!-- If condition -->
<ng-template #ifBlock>
    <h1>
        Hello If Block
    </h1>
</ng-template>

<!-- else condition -->
<ng-template #elseblock>
    <h1>Hello else</h1>
</ng-template>




